{% extends 'base.html.twig' %}

{% block title %}Editar Produtos{% endblock %}

{% block body %}
    <h1>Editar Produtos</h1>

    {{ include('produtos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('produtos_index') }}">Voltar para lista</a>

    {{ include('produtos/_delete_form.html.twig') }}
{% endblock %}
