{% extends 'base.html.twig' %}

{% block title %}Criar Produtos{% endblock %}

{% block body %}
    <h1>Criar novo Produtos</h1>

    {{ include('produtos/_form.html.twig') }}

    <a href="{{ path('produtos_index') }}">voltar para lista</a>
{% endblock %}
